/* https://www.shutterstock.com/blog/neon-color-palettes */


.background-sharp-blue
{
    background-color: #A0EDFF;
    color: #000000;
}

.background-sharp-yellow
{
    background-color: #EBF875;
    color: #000000;
}

.background-sharp-green
{
    background-color: #28CF75;
    color: #FFFFFF;
}

.background-sharp-orange
{
    background-color: #FE6B35;
    color: #FFFFFF;
}


.outline-black
{
    outline: 1px solid;
    outline-color: #000000;
    margin: 5px;
}